[submodule "jobnet-config-server"]
	path = jobnet-config-server
	url = https://github.com/ArialNguyen/jobnet-config-server.git
[submodule "jobnet-fe"]
	path = jobnet-fe
	url = https://github.com/ArialNguyen/jobnet-fe.git
[submodule "jobnet-be"]
	path = jobnet-be
	url = https://github.com/ArialNguyen/jobnet-be.git
[submodule "jobnet-chatbott"]
	path = jobnet-chatbott
	url = https://github.com/ArialNguyen/jobnet-chatbott.git
